{% ckan_extends %}

{% block secondary_content %}
  <div class="module module-narrow module-shallow">
    <h2 class="module-heading">
      <i class="icon-info-sign"></i>
      {{ _('What are groups?') }}
    </h2>
    <div class="module-content">
      <p>{% trans %}Groups collect datasets under a community (for example, the Ocean.Data.gov community) or theme (such as finance, safety, or health) to make it easier to browse datasets by topic.{% endtrans %}</p>
    </div>
  </div>
{% endblock %}
