{% extends 'source/new_source_form.html' %}
{% import 'macros/form.html' as form %}
{% resource 'harvest-extra-field/main' %}

{% block extra_config %}


<fieldset data-module="harvest-extra-form-change" data-module-form-items="{{ h.dump_json(h.harvest_source_extra_fields()) }}">
        {{ form.input('database', id='field-database', label=_('Database'), placeholder=_('eg. My Database'), value=data.database, error=errors.database, classes=['control-full'] ) }}
        {{ form.input('port', id='field-port', label=_('Port'), placeholder=_('eg. 3452'), value=data.port, error=errors.port, classes=['control-full']) }}

        {{ form.input('collection_metadata_url', id='feild-collection_metadata_url', label=_('Collection Metadata Url'), placeholder=_('eg. http://example.com/collection.xml'), value=data.collection_metadata_url, error=errors.port, classes=['control-full']) }}


  <div data-module="reclinepreview" data-module-site_url="{{ h.dump_json(h.url('/', locale='default', qualified=true)) }}">

         <div class="control-group harvest-types">
           <label class="control-label">Validation</label>
           <div class="controls">
             {% for key, value in h.get_validation_profiles() %}
               {% set checked = key == (data.validator_profiles or '')  %}
               <label class="radio">
                 <input type="radio" name="validator_profiles" value="{{ key }}" {{ "checked " if checked }}>
                 {{ value }}
               </label>
             {% endfor %}
           </div>
         </div>


</fieldset>

<div class="control-group">
  <label for="field-private_datasets" class="control-label">{{ _('Datasets Visibility') }}</label>
  <div class="controls">
    <select id="field-private_datasets" name="private_datasets">
      {% for option in [(true, _('Private')), (false, _('Public'))] %}
      <option value="{{ option[0] }}" {% if option[0] == data.private_datasets %}selected="selected"{% endif %}>{{ option[1] }}</option>
      {% endfor %}
    </select>
    <i class="icon-question-sign" title="{{ _('This will take effect the next time datasets are created or updated during a harvest job') }}" data-toggle="tooltip"></i>
  </div>
</div>

{% set existing_group = data.default_groups %}
{% set groups_available = h.groups_available() %}
{% if groups_available %}
<div class="control-group">
  <label for="field-default_groups" class="control-label">{{ _('Default Group') }}</label>
  <div class="controls">
    <select id="field-default_groups" name="default_groups" data-module="autocomplete">
      <option value="">{{ _('Select a group...') }}</option>
      {% for group in groups_available %}
        {# get out first org from users list only if there is not an existing org #}
        {% set selected_group = (existing_group and existing_group == group.name) %}
        <option value="{{ group.name }}" {% if selected_group %} selected="selected" {% endif %}>{{ group.name }}</option>
      {% endfor %}
    </select>
    <i class="icon-question-sign" title="{{ _('Datasets harvested from this source will be assigned to this group') }}" data-toggle="tooltip"></i>
  </div>
</div>
{% endif %}

{% endblock extra_config %}
