.module-content.collection-package {
  padding-bottom: 0;
  h3 {
    margin-top: 0;
  }
}

.label[data-format=wms],
.label[data-format*=wms] {
  background-color: #f06f64;
}

.format-label[data-format=wms],
.format-label[data-format*=wms] {
  background-position: 0 0;
  background-image: url("@{geoLocalThemeURL}images/icon-wms.png");
}
