.format-label[data-format="ISO-19139"],
.format-label[data-format*="ISO-19139"] {
  background-position: 0 0;
  background-image: url("@{geoLocalThemeURL}images/icon-iso-19139.png");
}

.format-label[data-format="FGDC"],
.format-label[data-format*="FGDC"] {
  background-position: 0 0;
  background-image: url("@{geoLocalThemeURL}images/icon-fgdc.png");
}

.format-label[data-format="web page"],
.format-label[data-format*="web page"],
.format-label[data-format="data"],
.format-label[data-format*="data"] {
  width: 32px;
  height: 35px;
  background-position: -320px -62px;
}

.label[data-format="web page"],
.label[data-format*="web page"],
.label[data-format="data"],
.label[data-format*="data"] {
  background-color: #56A3D0;
}

.select2-helper {
  position: relative;
  top: -9px;
  i {
    line-height: 32px;
  }
}
