.module-narrow #dataset-map-container{
  height: 200px;
}

.module-content #dataset-map-container{
  height: 250px;
}

#dataset-map-attribution{
    font-size: x-small;
}

.module-narrow #dataset-map-attribution{
  margin-left: 3px;
}

.leaflet-draw-label-single{
  display: none;
}

.leaflet-draw-label-subtext{
  display: none;
}
