-e git+https://github.com/FuhuXia/ckanext-harvest.git@b467f2838958d8ebe14b9b0958cf8fcb3c265b1f#egg=ckanext-harvest
-e git+https://github.com/FuhuXia/ckanext-spatial.git@28042d2b6f5e875feaf94465963186930e1452bb#egg=ckanext-spatial
-e git+https://github.com/FuhuXia/ckanext-qa.git@601e79a2f73f8b67a90c1e465f858f688d263c68#egg=ckanext-qa
-e git+https://github.com/okfn/ckanext-googleanalytics.git@master#egg=ckanext-googleanalytics
redis==2.7.2

-e git+https://github.com/asl2/PyZ3950.git#egg=py3250
ply==3.4


-e git+https://github.com/okfn/ckanext-saml2.git@master#egg=ckanext-saml2
-e git+https://github.com/tobes/pysaml2.git@fixes#egg=pysaml2
