-e git+https://github.com/GSA/ckanext-datagovtheme.git#egg=ckanext-datagovtheme
-e git+https://github.com/GSA/ckanext-datajson.git@a3dfe6bc183022572092ee572e557270701950a4#egg=ckanext-datajson
-e git+https://github.com/ckan/ckanext-harvest.git@master#egg=ckanext_harvest
-e git+https://github.com/ckan/ckanext-spatial.git@4ac25f19aa4eb9c798451f5eeb3084f907ccc003#egg=ckanext-spatial
-e git+https://github.com/asl2/PyZ3950.git#egg=PyZ3950

# ckanext-harvest dependencies
ckantoolkit>=0.0.7
pika>=1.1.0
pyOpenSSL==20.0.1
# redis==2.10.6 # included in ckan core
# requests>=2.11.1 # included in ckan core
six>=1.12.0

# ckanext-spatial
# GeoAlchemy>=0.6 # Unnecessary
argparse
GeoAlchemy2==0.5.0
OWSLib==0.18.0
pyparsing>=2.1.10
pyproj==2.6.1
Shapely>=1.2.13
# requests>=1.1.0 # included in ckan core
# six # included above in ckanext-harvest

# other requirements
#boto
future==0.18.2
jsonschema==2.4.0
lxml==4.9.1
paste
ply==3.4
pyyaml==5.4
