-e git+https://github.com/GSA/ckanext-datagovtheme.git#egg=ckanext-datagovtheme
-e git+https://github.com/GSA/ckanext-datajson.git@a3dfe6bc183022572092ee572e557270701950a4#egg=ckanext-datajson
-e git+https://github.com/nickumia-reisys/ckanext-harvest.git@9d1f647d247c16b6c3acba26e321e9500cafb18c#egg=ckanext-harvest
-e git+https://github.com/GSA/ckanext-spatial.git@93c430ffc36ba7e306652fd511efd0d1e7081381#egg=ckanext-spatial
-e git+https://github.com/danizen/PyZ3950.git#egg=PyZ3950
boto
ckantoolkit==0.0.3
future==0.18.2
geoalchemy2==0.5.0
jsonschema==2.4.0
OWSLib==0.18.0
paste
pika
ply==3.4
pyOpenSSL
pyproj==2.6.1
pyyaml==5.4
shapely==1.7.1
six==1.16.0
