-e git+https://github.com/ckan/ckanext-harvest.git#egg=ckanext_harvest
-e git+https://github.com/ckan/ckanext-spatial.git#egg=ckanext-spatial
-e git+https://github.com/asl2/PyZ3950.git#egg=PyZ3950
git+https://github.com/gsa/ckan.git@ckan-210-temp#egg=ckan

# ckanext-harvest dependencies
ckantoolkit>=0.0.7
pika>=1.1.0
pyOpenSSL>22.10 #pinning to fix error with crypto (https://levelup.gitconnected.com/fix-attributeerror-module-lib-has-no-attribute-openssl-521a35d83769)
# redis==2.10.6 # included in ckan core
# requests>=2.11.1 # included in ckan core

# ckanext-spatial
# ckantoolkit # included as dep of ckanext-harvest
GeoAlchemy2==0.5.0
Shapely>=1.2.13
OWSLib==0.28.1
lxml>=2.3
argparse
pyparsing>=2.1.10
# requests>=1.1.0 # included in ckan-core
six
geojson==3.0.1

# PyZ3950
pyasn1
# ply #required in setup.py

# other requirments
boto3
