{% ckan_extends %}

{% block secondary_content %}
  <div class="module module-narrow module-shallow">
    <h2 class="module-heading">
      <i class="icon-info-sign"></i>
      {{ _('What are organizations?') }}
    </h2>
    <div class="module-content">
      <p>{% trans %}Organizations are entities that publish and manage datasets (for example, the U.S. Geological Survey or NASA). Organizations own the datasets that are published under them. Within organizations, administrators can authorize members and assign them roles, giving them the right to publish datasets from that particular organization.{% endtrans %}</p>
    </div>
  </div>
{% endblock %}
