{% ckan_extends %}

{% block secondary_content %}
  <section class="module module-narrow module-shallow">
    <h2 class="module-heading">{{ _('Why register?') }}</h2>
    <div class="module-content">
      <p>{% trans %}Register as a Data.gov participant to be able to join communities, post comments, suggest new datasets, and share visualizations. If you are part of a Data.gov publishing organization, this will allow you to publish and update datasets.{% endtrans %}</p>
    </div>
  </section>
{% endblock %}
