{% set url = h.url_for(controller='package', action='resource_read', id=pkg.name, resource_id=res.id) %}
{% set format = res.format.lower() or 'data' %}
{% set is_web_format = h.is_web_format(res) %}
{% set is_preview_format = h.is_preview_format(res) %}
{% set is_map_format = h.is_map_format(res) %}
{% set is_cartodb_format = h.is_cartodb_format(res) %}
{% set is_plotly_format = h.is_plotly_format(res) %}
{% set is_arcgis_format = h.is_arcgis_format(res) %}
{% set arcgis_format_query = h.arcgis_format_query(res) %}
{% set plotly_url = "https://plot.ly/external/" %}
{% set cartodb_url = "http://oneclick.cartodb.com/" %}
{% set arcgis_url = "http://www.arcgis.com/home/webmap/viewer.html" %}

{% set filesize = res.size %}
{% set tooltip = _("ZIP files may contain data and documentation in one or more formats. In Data.gov’s Geospatial catalog, most of the files are multi-part shapefiles.") if format == 'zip' %}
<li itemprop="distribution" itemscope itemtype="http://schema.org/DataDownload" class="resource-item"{% if tooltip %} title="{{ tooltip }}"{% endif %}>
{% block resource_item_title %}
  {% if res.name == 'Comma Seperated Values File' %}
    <a itemprop="contentUrl" class="heading" href="{{ url }}" title="Comma Separated Values File">
    Comma Separated Values File<span class="format-label" property="dc:format" data-format="{{ res.format.lower() or 'data' }}">{{ res.format }}</span>
    {{ h.popular('views', res.tracking_summary.total, min=10) }}
    </a>
  {% else %}
    <a itemprop="contentUrl" class="heading" href="{{ url }}" title="{{ res.name or res.description }}">
    {{ h.resource_display_name(res) | truncate(50) }}<span class="format-label" property="dc:format" data-format="{{ res.format.lower() or 'data' }}">{{ res.format }}</span>
    {{ h.popular('views', res.tracking_summary.total, min=10) }}
    </a>
  {% endif %}
{% endblock %}


<p itemprop="description" class="description">
    {% if res.description %}
    {{ h.markdown_extract(res.description, extract_length=80) }}
    {% else %}
    &nbsp;
    {% endif %}
	{#
	{% if filesize != 0 and filesize != None and  not is_map_format and not is_web_format %}	
	  &nbsp;( {{ filesize|float/1000 }} KB )
	{% endif %}
	#}
</p>
{% block resource_item_explore %}
{% set resource_url = url if is_map_format or is_preview_format else res.url %}
<div class="btn-group">

{% if is_map_format %}
	<button class="btn btn-primary" data-toggle="dropdown" style="border-top-right-radius:0;border-bottom-right-radius:0">Open With</button>
	<button class="btn btn-primary" data-toggle="dropdown" style="margin-left:0px;margin-right:10px;border-top-left-radius:0;border-bottom-left-radius:0">
	<span class="caret" style="margin-top:0px;"></span><span class="sr-only">Toggle dropdown</span>
	</button>
	<ul class="dropdown-menu">
	  <li class="datagov_viewer"><a href="{{ resource_url }}"><i></i><span>Data.gov Map Preview</span></a></li>
	  {% if is_plotly_format %}
	  <li class="plotly"><a href="{{ plotly_url }}?url={{ res.url }}"><span>plotly</span></a></li>
	  {% endif %}
	  {% if is_cartodb_format %}
	  <li class="cartodb"><a href="{{ cartodb_url }}?file={{ res.url }}&provider=data.gov"><span>CartoDB</span></a></li>
	  {% endif %}
	  {% if is_arcgis_format %}
	  <li class="arcgis"><a href="{{ arcgis_url }}?{{ arcgis_format_query }}={{ res.url }}"><span>ArcGIS</span></a></li>
	  {% endif %}	  
	</ul>
	<a href="{{ resource_url }}" class="btn btn-primary"{% if is_web_format %} target="_blank"{% endif %} style="border-radius:4px;"> <i class="icon-globe"></i> {{ _('View Map') }} </a> 

{% elif is_web_format %} 
	{% if is_arcgis_format %}
		<button class="btn btn-primary" data-toggle="dropdown" style="border-top-right-radius:0;border-bottom-right-radius:0">Open With</button>
		<button class="btn btn-primary" data-toggle="dropdown" style="margin-left:0px;margin-right:10px;border-top-left-radius:0;border-bottom-left-radius:0">
		<span class="caret" style="margin-top:0px;"></span><span class="sr-only">Toggle dropdown</span>
		</button>
		<ul class="dropdown-menu">
		  <li class="arcgis"><a href="{{ arcgis_url }}?url={{ res.url }}"><span>ArcGIS</span></a></li>
		</ul>
	{% endif %}
	<a href="{{ resource_url }}" class="btn btn-primary"{% if is_web_format %} target="_blank"{% endif %}> <i class="icon-external-link"></i> {{ _('Visit page') }} </a> 

{% elif is_preview_format %} 
	<button class="btn btn-primary btn-preview" data-toggle="dropdown" style="border-top-right-radius:0;border-bottom-right-radius:0">Open With
	</button>
	<button class="btn btn-primary btn-preview" data-toggle="dropdown" style="margin-left:0px;margin-right:10px;border-top-left-radius:0;border-bottom-left-radius:0"><span class="caret" style="margin-top:0px;"></span><span class="sr-only">Toggle dropdown</span>
	</button>
	<ul class="dropdown-menu ul-preview">
	  <li class="datagov_viewer"><a href="{{ resource_url }}"><i></i><span>Data.gov Preview</span></a></li>	  
	  {% if is_plotly_format %}
	  <li class="plotly"><a href="{{ plotly_url }}?url={{ res.url }}"><span>plotly</span></a></li>
	  {% endif %}
	  {% if is_cartodb_format %}
	  <li class="cartodb"><a href="{{ cartodb_url }}?file={{ res.url }}&provider=data.gov"><span>CartoDB</span></a></li>
	  {% endif %}
	</ul>
	<a href="{{ res.url }}" class="btn btn-primary"{% if is_web_format %} target="_blank"{% endif %} style="border-radius:4px;"> <i class="icon-download-alt"></i> {{ _('Download') }} </a> 

{% elif is_cartodb_format and is_plotly_format  %}
	<button class="btn btn-primary" data-toggle="dropdown" style="border-top-right-radius:0;border-bottom-right-radius:0">Open With
	</button>
	<button class="btn btn-primary" data-toggle="dropdown" style="margin-left:0px;margin-right:10px;border-top-left-radius:0;border-bottom-left-radius:0"><span class="caret" style="margin-top:0px;"></span><span class="sr-only">Toggle dropdown</span>
	</button>
	<ul class="dropdown-menu">
	  <li class="plotly"><a href="{{ plotly_url }}?url={{ res.url }}"><span>plotly</span></a></li>
	  <li class="cartodb"><a href="{{ cartodb_url }}?file={{ res.url }}&provider=data.gov"><span>CartoDB</span></a></li>
	</ul>
	<a href="{{ resource_url }}" class="btn btn-primary"{% if is_web_format %} target="_blank"{% endif %}> <i class="icon-download-alt"></i> {{ _('Download') }} </a> 
{% elif is_cartodb_format %}
	<button class="btn btn-primary" data-toggle="dropdown" style="border-top-right-radius:0;border-bottom-right-radius:0">Open With
	</button>
	<button class="btn btn-primary" data-toggle="dropdown" style="margin-left:0px;margin-right:10px;border-top-left-radius:0;border-bottom-left-radius:0"><span class="caret" style="margin-top:0px;"></span><span class="sr-only">Toggle dropdown</span>
	</button>
	<ul class="dropdown-menu">
	  <li class="cartodb"><a href="{{ cartodb_url }}?file={{ res.url }}&provider=data.gov"><span>CartoDB</span></a></li>
	</ul>
	<a href="{{ resource_url }}" class="btn btn-primary"{% if is_web_format %} target="_blank"{% endif %}> <i class="icon-download-alt"></i> {{ _('Download') }} </a> 
{% elif is_plotly_format %}
	<button class="btn btn-primary" data-toggle="dropdown" style="border-top-right-radius:0;border-bottom-right-radius:0">Open With
	</button>
	<button class="btn btn-primary" data-toggle="dropdown" style="margin-left:0px;margin-right:10px;border-top-left-radius:0;border-bottom-left-radius:0"><span class="caret" style="margin-top:0px;"></span><span class="sr-only">Toggle dropdown</span>
	</button>
	<ul class="dropdown-menu">
	  <li class="plotly"><a href="{{ plotly_url }}?url={{ res.url }}"><span>plotly</span></a></li>
	</ul>
	<a href="{{ resource_url }}" class="btn btn-primary"{% if is_web_format %} target="_blank"{% endif %}> <i class="icon-download-alt"></i> {{ _('Download') }} </a> 
{% else %}
	<a href="{{ resource_url }}" class="btn btn-primary"{% if is_web_format %} target="_blank"{% endif %}> <i class="icon-download-alt"></i> {{ _('Download') }} </a> 
{% endif %}
</div>
{% endblock %}
</li>
