{% ckan_extends %}

{% block footer_content %}


        <div class="row">



    <div class="col-md-4 col-lg-4">
        <form action="/dataset" class="search-form form-inline" method="get" role="search">
            <div class="input-group">
                <label for="search-footer" class="hide">Search for:</label>
                <input type="search" placeholder="Search Data.Gov" class="search-field form-control" name="q" value="" id="search-footer">
        <span class="input-group-btn">
        <button class="search-submit btn_new btn-default" type="submit"> <i class="fa fa-search"></i> <span class="sr-only">Search</span> </button>
        </span> </div>
        </form>
        <div class="footer-logo"> <a href="http://www.data.gov/" class="logo-brand">Data.Gov 2.0</a> </div>
    </div>
    <nav role="navigation" class="col-md-2 col-lg-2">
        <ul class="nav" id="menu-primary-navigation-1">
        {% snippet "snippets/footer_menu_primary.html" %}
        </ul>
    </nav>
    <nav role="navigation" class="col-md-2 col-lg-2">
        <ul class="nav" id="menu-footer">
            {% snippet "snippets/footer_menu.html" %}
            {% if c.userobj%}
            <li class="local-link"> <a href="{{ h.url_for('/user/_logout') }}" title="{{ _('Log out') }}"></a> </li>
            {% else %}
            <li><a href="{{ h.url_for(controller='user', action='login') }}" class="local-link">
                {{ _('Login') }}
            </a>
            </li>
            {% endif  %}

        </ul>
    </nav>
    <div class="col-md-3 col-md-offset-1 col-lg-3 col-lg-offset-1 social-nav">
        <nav role="navigation">
            <ul class="nav" id="menu-social_navigation">
                <li><a href="https://twitter.com/usdatagov"><i class="fa fa-twitter"></i><span>Twitter</span></a></li>
                <li><a href="http://github.com/GSA/data.gov/"><i class="fa fa-github"></i><span>Github</span></a></li>

            </ul>
        </nav>
    </div>
        </div>


    {#
    {% block footer_lang %}
    {% snippet "snippets/language_selector.html" %}
    {% endblock %}
    #}

	{#
    {% if not g.debug %}
    {% snippet "snippets/webtrends.html" %}
    {% endif %}
    #}
	
    {% endblock %}
