[IE conditional]

lte IE 8 =
    scripts/vendor/leaflet/leaflet.ie.css
    scripts/vendor/leaflet.draw/leaflet.draw.ie.css
    scripts/vendor/jquery.placeholder.js

[depends]

main = base/main

[groups]

spatial_query =

    scripts/vendor/leaflet/leaflet.js
    scripts/vendor/leaflet.draw/leaflet.draw.js
    scripts/spatial_query.js
    scripts/location_autocomplete.js

    scripts/vendor/leaflet/leaflet.css
    scripts/vendor/leaflet/leaflet.ie.css
    scripts/vendor/leaflet.draw/leaflet.draw.css
    scripts/vendor/leaflet.draw/leaflet.draw.ie.css

js =
    scripts/vendor/jquery.placeholder.js
    scripts/geodatagov.js
