{% ckan_extends %}

{% block title %}{{ _("geo.data.gov CKAN demo") }} - {{ super() }}{% endblock %}

{% block content %}
  <div id="content" class="container homepage">
    {{ self.flash() }}
    <div class="wrapper">
      <div class="hero">
        <div class="intro">
          <h1>{{ _('Welcome to Geospatial Data')}}</h1>
          <p>Geospatial data from across the government is collected here and made accessible for easier searching. Just enter your search terms in the box to the right to get started. You can search by publisher by clicking on Organizations at the top, or by all categories (organizations, topics, and formats) by clicking on Datasets at the top.</p>
        </div>
        <form class="search-box clearfix" method="get" action="{% url_for controller='package', action='search' %}">
          <span class="control-group search-giant">
            <input type="text" class="search" name="q" value="{{ c.q }}" autocomplete="off" placeholder="{{ _('Search geospatial datasets...') }}" />
            <button type="submit" value="{{ _('Search') }}">Submit</button>
          </span>
        </form>
      </div>
      <div id="hp-message">
        <div class="alert alert-info">
          <p>Data.gov is currently transitioning the geospatial catalog from <a href="http://geo.data.gov">Geo.data.gov</a> to this site. You will see additional functionality and data sources coming to this site through June 2013, while the two sites operate in parallel. If you have comments or suggestions on this site, please <a href="http://www.data.gov/contact-us">contact us</a>.</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
