{% ckan_extends %}

{% block title %}{{ _("geo.data.gov CKAN demo") }} - {{ super() }}{% endblock %}

{% block content %}
  <div id="content" class="container homepage">
    {{ self.flash() }}
    <div class="wrapper">
      <div class="hero">
        <div class="intro">
          <h1>{{ _('Welcome to Geospatial Data')}}</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque feugiat nisi aliquet lectus mattis faucibus? Mauris ultrices magna eu est mollis sed gravida mi semper. Praesent lacus magna, facilisis nec accumsan vel, blandit vitae ante. Donec commodo adipiscing rutrum. Vestibulum id ligula nec urna malesuada dictum a a ante.</p>
        </div>
        <form class="search-box clearfix" method="get" action="{% url_for controller='package', action='search' %}">
          <h3 class="heading">{{ _('Search Geospatial Data') }}</h3>
          <span class="control-group search-giant">
            <input type="text" class="search" name="q" value="{{ c.q }}" autocomplete="off" placeholder="{{ _('eg. Maritime Biology') }}" />
            <button type="submit" value="{{ _('Search') }}">Submit</button>
          </span>
        </form>
      </div>
    </div>
  </div>
{% endblock %}


{% block home_primary_heading -%}
{{ _("Welcome to the geo.data.gov CKAN demo") }}
{%- endblock %}

{% block home_primary_text %}
  {% trans %}
     This is a prototype site for the geo catalogue data currently in geo.data.gov.
  {% endtrans %}
{% endblock %}

{% block home_image_caption %}{{ _("CKAN offers previewing of live map services") }}{% endblock %}
{% block home_image_content %}
  <a class="media-image" href="/dataset/curators-index-to-marine-and-lacustrine-geological-samples-database/resource/b75747c3-e991-4814-8722-4bf64273f6ef">
    <img src="/images/wms-preview.png" alt="Map Services Preview" />
  </a>
{% endblock %}

{#
-- maybe also:

To see our data explorer in action, have a look at the resource pages of any
datasets in this group: http://demo.ckan.org/en/group/data-explorer

For an example of our map explorer, please click on the ‘Map’ button under
‘Preview’ of the Malawi Aid Project resource page:
http://demo .ckan.org/dataset/malawi-aid-projects/resource/b717c20e-2006-4ad4-82d2-59b57ebc1ab0
#}
