<nav class="primary">
 <!-- <ul class="unstyled">
    <li><a href="http://www.data.gov/home" class="root">{{ _('home') }}</a></li>
    <li>
      <a href="http://www.data.gov/about" class="root">{{ _('about') }}<i class="icon-caret-down"></i></a>
      <ul class="unstyled dropdown">
        <li><a href="http://www.data.gov/in-the-news">{{ _('in the news') }}</a></li>
        <li><a href="http://www.data.gov/new-features">{{ _('new features') }}</a></li>
        <li><a href="http://www.data.gov/whats-new">{{ _('what\'s new') }}</a></li>
      </ul>
    </li>
    <li class="active">
      <a href="/dataset" class="root">{{ _('data') }}</a>
    </li>
    <li>
      <a href="http://www.data.gov/metric" class="root">{{ _('metrics') }}<i class="icon-caret-down"></i></a>
      <ul class="unstyled dropdown">
        <li class="sub-dropdown">
          <a href="http://www.data.gov/metric">{{ _('federal agency') }}<i class="icon-caret-right"></i></a>
          <ul class="unstyled dropdown">
            <li>
              <a href="http://www.data.gov/metric">{{ _('agency participation') }}</a>
            </li>
            <li>
              <a href="http://www.data.gov/metric/federalagency/datasetbycategory">{{ _('datasets by category') }}</a>
            </li>
            <li>
              <a href="http://www.data.gov/metric/federalagency/datasetpublishedpermonth">{{ _('datasets published per month') }}</a>
            </li>
          </ul>
        </li>
        <li><a href="http://www.data.gov/suggestdataset">{{ _('suggested datasets') }}</a></li>
        <li class="sub-dropdown">
          <a href="http://www.data.gov/metric/visitorstats/dailyvisitorstatistics">{{ _('visitor stats') }}<i class="icon-caret-right"></i></a>
          <ul class="unstyled dropdown">
            <li><a href="http://www.data.gov/metric/visitorstats/dailyvisitorstatistics">{{ _('daily visitor statistics') }}</a></li>
            <li><a href="http://www.data.gov/metric/visitorstats/monthlyredirectbydatacategory">{{ _('downloads by data category') }}</a></li>
            <li><a href="http://www.data.gov/metric/visitorstats/monthlyredirecttrend">{{ _('monthly download trends') }}</a></li>
            <li><a href="http://www.data.gov/metric/visitorstats/monthlyviewstrend">{{ _('monthly page view trends') }}</a></li>
            <li><a href="http://www.data.gov/metric/visitorstats/monthvisitorstats">{{ _('monthly visitor statistics') }}</a></li>
            <li><a href="http://www.data.gov/metric/visitorstats/countrystatistics">{{ _('top 10 visiting countries') }}</a></li>
            <li><a href="http://www.data.gov/metric/visitorstats/statestatistics">{{ _('top 10 visiting states') }}</a></li>
          </ul>
        </li>
      </ul>
    </li>
    <li>
      <a href="http://www.data.gov/welcome-open-government-platform" class="root">{{ _('open government') }}<i class="icon-caret-down"></i></a>
      <ul class="unstyled dropdown">
        <li><a href="http://www.data.gov/opendatasites">{{ _('open data sites') }}</a></li>
        <li><a href="http://www.data.gov/community/developer">{{ _('for developers') }}</a></li>
        <li><a href="http://www.data.gov/welcome-open-government-platform">{{ _('open government platform') }}</a></li>
      </ul>
    </li>
    <li><a href="http://www.data.gov/blogs" class="root">{{ _('blogs') }}</a></li>
    <li>
      <a href="http://www.data.gov/communities" class="root">{{ _('communities') }}<i class="icon-caret-down"></i></a>
      <div class="dropdown wide communities">
        <ul class="unstyled">
          <li><a href="http://www.data.gov/community/food">{{ _('agriculture') }}</a></li>
          <li><a href="http://www.data.gov/community/business">{{ _('business') }}</a></li>
          <li><a href="http://www.data.gov/community/cities">{{ _('cities') }}</a></li>
          <li><a href="http://www.data.gov/community/consumer">{{ _('consumer') }}</a></li>
          <li><a href="http://www.data.gov/community/counties">{{ _('counties') }}</a></li>
          <li><a href="http://www.data.gov/community/developer">{{ _('developers') }}</a></li>
          <li><a href="http://www.data.gov/community/education">{{ _('education') }}</a></li>
          <li><a href="http://www.data.gov/community/energy">{{ _('energy') }}</a></li>
          <li><a href="http://www.data.gov/community/ethics">{{ _('ethics') }}</a></li>
        </ul>
        <ul class="unstyled">
          <li><a href="http://www.data.gov/community/health-0">{{ _('health') }}</a></li>
          <li><a href="http://www.data.gov/community/law">{{ _('law') }}</a></li>
          <li><a href="http://www.data.gov/community/manufacturing">{{ _('manufacturing') }}</a></li>
          <li><a href="http://www.data.gov/community/ocean">{{ _('ocean') }}</a></li>
          <li><a href="http://www.data.gov/community/research">{{ _('research') }}</a></li>
          <li><a href="http://www.data.gov/community/restorethegulf">{{ _('restore the gulf') }}</a></li>
          <li><a href="http://www.data.gov/community/safety">{{ _('safety') }}</a></li>
          <li><a href="http://www.data.gov/community/states">{{ _('states') }}</a></li>
          <li><a href="http://www.data.gov/community/supplychain">{{ _('supply chain') }}</a></li>
        </ul>
      </div>
    </li>
  </ul>-->
<ul class="nav navbar-nav navbar-right" id="menu-primary-navigation">
<li class="menu-data"><a href="http://catalog.data.gov">Data</a></li>
<li class="dropdown menu-topics"><a href="http://data.gov/communities/" data-target="#" data-toggle="dropdown" class="dropdown-toggle">Topics <b class="caret"></b></a>
<ul class="dropdown-menu">
	<li class="menu-agriculture"><a href="http://data.gov/food/">Agriculture</a></li>
	<li class="menu-business"><a href="http://data.gov/business/">Business</a></li>
	<li class="menu-climate"><a href="http://data.gov/climate/">Climate</a></li>
	<li class="menu-consumer"><a href="http://data.gov/consumer/">Consumer</a></li>
	<li class="menu-counties"><a href="http://data.gov/counties/">Counties</a></li>
	<li class="menu-cities"><a href="http://data.gov/cities/">Cities</a></li>
	<li class="menu-developers"><a href="http://data.gov/developers/">Developers</a></li>
	<li class="menu-education"><a href="http://data.gov/education/">Education</a></li>
	<li class="menu-energy"><a href="http://data.gov/energy/">Energy</a></li>
	<li class="menu-ethics"><a href="https://explore.data.gov/ethics">Ethics</a></li>
	<li class="menu-finance"><a href="http://data.gov/finance">Finance</a></li>
	<li class="menu-geospatial"><a href="http://data.gov/geospatial/">GeoSpatial</a></li>
	<li class="menu-global-development"><a href="http://data.gov/development/">Global Development</a></li>
	<li class="menu-health"><a href="http://data.gov/health/">Health</a></li>
	<li class="menu-job-and-skills"><a href="http://data.gov/jobs-and-skills/">Job and Skills</a></li>
	<li class="menu-law"><a href="http://data.gov/law/">Law</a></li>
	<li class="menu-manufacturing"><a href="http://data.gov/manufacturing/">Manufacturing</a></li>
	<li class="menu-ocean"><a href="http://data.gov/ocean/">Ocean</a></li>
	<li class="menu-public-safety"><a href="http://data.gov/safety/">Public Safety</a></li>
	<li class="menu-science-and-research"><a href="http://data.gov/research/">Science and Research</a></li>
	<li class="menu-states"><a href="http://data.gov/states/">States</a></li>
	<li class="menu-weather"><a href="http://data.gov/weather/">Weather</a></li>
</ul>
</li>
<li class="menu-highlights"><a href="http://data.gov/highlights">Highlights</a></li>
<li class="active menu-open-gov"><a href="/open-gov">Open Gov</a></li>
<li class="menu-contact"><a href="http://data.gov/contact-engage/">Contact</a></li>
</ul>
</nav>
