<nav class="primary">
  <ul class="unstyled">
    <li><a href="http://www.data.gov/home" class="root">{{ _('Home') }}</a></li>
    <li>
      <a href="http://www.data.gov/about" class="root">{{ _('About') }}<i class="icon-caret-down"></i></a>
      <ul class="unstyled dropdown">
        <li><a href="http://www.data.gov/in-the-news">{{ _('In The News') }}</a></li>
        <li><a href="http://www.data.gov/new-features">{{ _('New Features') }}</a></li>
        <li><a href="http://www.data.gov/whats-new">{{ _('What\'s New') }}</a></li>
      </ul>
    </li>
    <li>
      <a href="https://explore.data.gov/" class="root">{{ _('Data') }}<i class="icon-caret-down"></i></a>
      <ul class="unstyled dropdown">
        <li><a href="http://explore.data.gov/catalog/raw">{{ _('Raw Data') }}</a></li>
        <li class="active"><a href="{{ h.url('home') }}">{{ _('Geo Data') }}</a></li>
        <li><a href="http://www.data.gov/gallery">{{ _('Gallery') }}</a></li>
        <li><a href="http://explore.data.gov/catalog/tools">{{ _('Tools') }}</a></li>
        <li><a href="http://explore.data.gov/catalog/next-gen">{{ _('Interactive') }}</a></li>
      </ul>
    </li>
    <li class="active">
      <a href="http://www.data.gov/metric" class="root">{{ _('Metrics') }}<i class="icon-caret-down"></i></a>
      <ul class="unstyled dropdown">
        <li><a href="http://www.data.gov/metric">{{ _('Federal Agency') }}</a></li>
        <li><a href="http://www.data.gov/suggestdataset">{{ _('Suggested Datasets') }}</a></li>
        <li class="sub-dropdown">
          <a href="http://www.data.gov/metric/visitorstats/dailyvisitorstatistics">{{ _('Visitor Stats') }}<i class="icon-caret-right"></i></a>
          <ul class="unstyled dropdown">
            <li><a href="http://www.data.gov/metric/visitorstats/dailyvisitorstatistics">{{ _('Daily Visitor Statistics') }}</a></li>
            <li><a href="http://www.data.gov/metric/visitorstats/monthlyredirectbydatacategory">{{ _('Downloads by Data Category') }}</a></li>
            <li><a href="http://www.data.gov/metric/visitorstats/monthlyredirecttrend">{{ _('Monthly Download Trends') }}</a></li>
            <li><a href="http://www.data.gov/metric/visitorstats/monthlyviewstrend">{{ _('Monthly Page View Trends') }}</a></li>
            <li><a href="http://www.data.gov/metric/visitorstats/monthvisitorstats">{{ _('Monthly Visitor Statistics') }}</a></li>
            <li><a href="http://www.data.gov/metric/visitorstats/countrystatistics">{{ _('Top 10 Visiting Countries') }}</a></li>
            <li><a href="http://www.data.gov/metric/visitorstats/statestatistics">{{ _('Top 10 Visiting States') }}</a></li>
          </ul>
        </li>
      </ul>
    </li>
    <li>
      <a href="http://www.data.gov/welcome-open-government-platform" class="root">{{ _('Open Government') }}<i class="icon-caret-down"></i></a>
      <ul class="unstyled dropdown">
        <li><a href="http://www.data.gov/opendatasites">{{ _('Open Data Sites') }}</a></li>
        <li><a href="http://www.data.gov/community/developer">{{ _('For Developers') }}</a></li>
      </ul>
    </li>
    <li><a href="http://www.data.gov/blogs" class="root">{{ _('Blogs') }}</a></li>
    <li>
      <a href="http://www.data.gov/communities" class="root">{{ _('Communities') }}<i class="icon-caret-down"></i></a>
      <div class="dropdown wide">
        <ul class="unstyled">
          <li><a href="http://www.data.gov/community/business">{{ _('Business') }}</a></li>
          <li><a href="http://www.data.gov/community/cities">{{ _('Cities') }}</a></li>
          <li><a href="http://www.data.gov/community/consumer">{{ _('Consumer') }}</a></li>
          <li><a href="http://www.data.gov/community/counties">{{ _('Counties') }}</a></li>
          <li><a href="http://www.data.gov/community/developer">{{ _('Developers') }}</a></li>
          <li><a href="http://www.data.gov/community/education">{{ _('Education') }}</a></li>
          <li><a href="http://www.data.gov/community/energy">{{ _('Energy') }}</a></li>
          <li><a href="http://www.data.gov/community/ethics">{{ _('Ethics') }}</a></li>
          <li><a href="http://www.data.gov/community/health-0">{{ _('Health') }}</a></li>
        </ul>
        <ul class="unstyled">
          <li><a href="http://www.data.gov/community/law">{{ _('Law') }}</a></li>
          <li><a href="http://www.data.gov/community/manufacturing">{{ _('Manufacturing') }}</a></li>
          <li><a href="http://www.data.gov/community/ocean">{{ _('Ocean') }}</a></li>
          <li><a href="http://www.data.gov/community/research">{{ _('Research') }}</a></li>
          <li><a href="http://www.data.gov/community/restorethegulf">{{ _('Restore the Gulf') }}</a></li>
          <li><a href="http://www.data.gov/community/safety">{{ _('Safety') }}</a></li>
          <li><a href="http://www.data.gov/community/states">{{ _('States') }}</a></li>
          <li><a href="http://www.data.gov/community/supplychain">{{ _('Supply Chain') }}</a></li>
        </ul>
      </div>
    </li>
  </ul>
</nav>