{% extends "page.html" %}

{% set pkg = c.pkg_dict %}

{% block breadcrumb_content_selected %} class="active"{% endblock %}

{% block breadcrumb_content %}
  {% if pkg %}
    {% set dataset = pkg.title or pkg.name %}
    {% if pkg.organization %}
      {% set organization = pkg.organization.title or pkg.organization.name %}
      <li>{% link_for _('Organizations'), controller='organization', action='index' %}</li>
      <li>{% link_for organization|truncate(30), controller='organization', action='read', id=pkg.organization.name %}
	  {% for extra in pkg.extras %}
	     {% if extra.key == 'publisher' and organization != extra.value %}
	        <li class="active">{% link_for extra.value|truncate(30), controller='package', action='search', publisher=extra.value %}</li>
		 {% endif %}
	  {% endfor %}
    {% else %}
      <li>{% link_for _('Datasets'), controller='package', action='search' %}</li>
    {% endif %}
  {% else %}
    <li>{% link_for _('Datasets'), controller='package', action='search' %}</li>
    <li class="active"><a href="">{{ _('Create Dataset') }}</a></li>
  {% endif %}
{% endblock %}
