{% ckan_extends %}


{% set pkg_dict = c.pkg_dict %}
{% set dataset_extent = h.get_pkg_dict_extra(c.pkg_dict, 'spatial', '') %}
{% set dataset_is_datajson = h.get_pkg_dict_extra(c.pkg_dict, 'source_datajson_identifier', False) %}


{% block package_description %}
<section class="module-content">
    {% if pkg.private %}
      <span class="dataset-private label label-inverse pull-right">
        <i class="icon-lock"></i>
        {{ _('Private') }}
      </span>
    {% endif %}
    <h1 style="margin-bottom:5px;">
        {% block page_heading %}
        {{ pkg.title or pkg.name }}
        {% if pkg.state.startswith('draft') %}
        [{{ _('Draft') }}]
        {% endif %}
        {% endblock %}
    </h1>

    {% if h.get_pkg_dict_extra(c.pkg_dict, 'accessLevel') and h.get_pkg_dict_extra(c.pkg_dict, 'accessLevel').strip()|length > 0 %}
    <div style="display:inline;margin-right:10px;">
        <i class="icon-globe" style="color:#6e6e6e;"></i><span style="color:#7d7d7d;margin-left:8px;">{{ h.get_pkg_dict_extra(c.pkg_dict, 'accessLevel')|title}}</span>
    </div>
    {% endif %}
    {% if h.render_datetime_datagov(pkg.metadata_modified) and h.render_datetime_datagov(pkg.metadata_modified).strip()|length > 0 %}
    <div style="display:inline;">
        <i class="icon-calendar" style="color:#949494;"></i><span style="font-weight:bold;color:#6e6e6e;margin-left:8px;">Updated:</span> <span style="color:#7d7d7d;"><a href="#sec-dates">{{ h.render_datetime_datagov(pkg.metadata_modified) }}</a></span>
    <br clear="all" />
    	
    </div>
    {% endif %}
    <br clear="all" />
		
	{# <h4> {{ pkg }}</h4> #}
    {% block package_notes %}
      {% if c.pkg_notes_formatted %}
        <div class="notes embedded-content">
          {{ c.pkg_notes_formatted }}
        </div>
      {% endif %}
    {% endblock %}
    {# FIXME why is this here? seems wrong #}
    <span class="insert-comment-thread"></span>
</section>
{% endblock %}

{% block secondary_content %}
  {{ super() }}
  {% set dataset_extent = h.get_pkg_dict_extra(c.pkg_dict, 'spatial', '') %}
  {% if dataset_extent and not h.get_pkg_dict_extra(c.pkg_dict, 'source_datajson_identifier', '') %}
    {% snippet "spatial/snippets/dataset_map_sidebar.html", extent=dataset_extent %}
  {% endif %}
{% endblock %}


{% block package_resources %}

  {% set collection_package_id = h.get_pkg_dict_extra(c.pkg_dict, 'collection_package_id', '') %}
  {% if h.get_pkg_dict_extra(c.pkg_dict, 'collection_metadata', '') %}
    <section class="module-content">
      <h3>{{ _('Collection') }}</h3>
      <p>{{ _('This dataset is a collection of other datasets.') }}</p>
      <p><a href="{{ h.url_for('search', collection_package_id=pkg_dict.id) }}" class="btn">{{ _('Search datasets within this collection') }}</a></p>
    </section>
  {% elif collection_package_id %}
    {% set collection_package = h.get_collection_package(collection_package_id) %}
    <section class="module-content">
      <h3>{{ _('Collection') }}</h3>
      <p>{{ _('This dataset is part of the following collection:') }}</p>
      <ul class="dataset-list unstyled">
        {% snippet "snippets/package_item.html", package=collection_package, truncate=75 %}
      </ul>
    </section>
  {% endif %}

  {{ super() }}

  {% set extras = c.pkg_dict.extras %}

  <section class="module-content">
      {% for extra in h.sorted_extras(extras, auto_clean=true) %}
      {% set key, value = extra %}
      {% if key in ['References'] and (value != '' or value != '[]' ) %}
      <h3>{{ _('References') }}</h3>
      <table class="table table-striped table-bordered table-condensed">
          <tbody>

            {% if value != '[]' and  ',' in value %}
              {% for val in value.split(',') %}
                <tr rel="dc:relation" resource="_:extra{{ i }}">
                  <td class="dataset-details" property="rdf:value">
                     {% set val = val.replace('[','') %}
                     {% set val = val.replace(']','') %}
                     {% set val = val.replace('u\'','') %}
                     {% set val = val.replace('\'','') %}
                     {{ val }}
                  </td>
                </tr>
              {% endfor %}
            {% else %}
             <tr rel="dc:relation" resource="_:extra{{ i }}">
               <td class="dataset-details" property="rdf:value">
                 {{ value }}
               </td>
             </tr>
            {% endif %}
          </tbody>
      </table>
      {% endif %}
      {% endfor %}
  </section>


  <section class="module-content" id="sec-dates">
      <h3>{{ _('Dates') }}</h3>
      <table class="table table-striped table-bordered table-condensed">
          <tbody>
            {% if not dataset_is_datajson %}
            <tr>
              <th scope="row" class="dataset-label">Metadata Date</th>
              <td><span property="dct:issued">{{ h.render_datetime_datagov(h.get_pkg_dict_extra(c.pkg_dict, 'metadata-date')) or h.get_pkg_dict_extra(c.pkg_dict, 'metadata-date') or 'Unknown' }}</span></td>
            </tr>
            {% endif %}
            <tr>
              <th scope="row" class="dataset-label">Metadata Created Date</th>
              <td>{{ h.render_datetime_datagov(c.pkg_dict.metadata_created) or 'Unknown' }}</td>
            </tr>
            <tr>
              <th scope="row" class="dataset-label">Metadata Updated Date</th>
              <td><span property="dct:modified">{{ h.render_datetime_datagov(c.pkg_dict.metadata_modified) or 'Unknown' }}</span></td>
            </tr>
            {% if not dataset_is_datajson %}
            <tr>
                <th scope="row" class="dataset-label">Reference Date(s)</th>
                <td>{{ h.get_reference_date(h.get_pkg_dict_extra(c.pkg_dict, 'dataset-reference-date')) or h.get_pkg_dict_extra(c.pkg_dict, 'dataset-reference-date') or 'Unknown' }}</td>
            </tr>
            {% endif %}

            {% for extra in h.sorted_extras(extras, auto_clean=true) %}
              {% set key, value = extra %}
              {% if key in ['Modified', 'Issued'] %}
              <tr rel="dc:relation" resource="_:extra{{ i }}">
                <th scope="row" class="dataset-label" property="rdfs:label">{{ _(key) }}</th>
                <td class="dataset-details" property="rdf:value">
                    {% if value != '[]' %}
                    {{ value }}
                    {% endif %}
                </td>
              </tr>
              {% endif %}
              {% if 'date' in key %}
                <tr>
                  <th scope="row" class="dataset-label" property="rdfs:label">{{ _(key) }}</th>
                  <td class="dataset-details" property="rdf:value">
                    {% if value != '[]' %}
                      {{ value }}
                    {% endif %}
                  </td>
                </tr>
              {% endif %}
            {% endfor %}
          </tbody>
      </table>
  </section>

  {% set harvest_object_id = h.get_pkg_dict_extra(pkg, 'harvest_object_id', None) %}
  {% if harvest_object_id %}
    {% set ho_formats = h.get_harvest_object_formats(harvest_object_id) %}
    {% if ho_formats.object_format %}
      <section id="dataset-metadata-source" class="resources module-content">
        <h3>{{ _('Metadata Source') }}</h3>
        <ul class="resource-list">
          <li class="resource-item">
            <strong class="heading">
            {% if dataset_is_datajson %}
              <span class="format-label" property="dc:format" data-format="Data.json">Data.json</span>
              Data.json Metadata
            {% else %}
              <span class="format-label" property="dc:format" data-format="{{ ho_formats.object_format }}">{{ ho_formats.object_format }}</span>
              {{ ho_formats.object_format }} Metadata
            {% endif %}
            </strong>
            <p class="description">
              <a href="/harvest/object/{{ harvest_object_id }}">Download Metadata</a>
              {% if ho_formats.object_format == 'ISO-19139' %}
                {% if not dataset_is_datajson %}
                  &middot;
                  <a href="/harvest/object/{{ harvest_object_id }}/html">View Full Metadata</a>
                {% endif %}
              {% endif %}
            </p>
          </li>
          {% if ho_formats.original_format %}
            <li class="resource-item">
              <strong class="heading">
                <span class="format-label" property="dc:format" data-format="{{ ho_formats.original_format}}">{{ ho_formats.original_format}}</span>
                Original {{ ho_formats.original_format}} Metadata
              </strong>
              <p class="description">
                <a href="/harvest/object/{{ harvest_object_id }}/original">Download Original Metadata</a>
                &middot;
                <a href="/harvest/object/{{ harvest_object_id }}/html/original">View Original Full Metadata</a>
              </p>
            </li>
          {% endif %}
        </ul>
        <p class="muted">{{ h.get_harvest_source_link(pkg) }}</p>
      </section>
    {% endif %}
  {% endif %}

  {% set graphic_preview_file =h.get_pkg_dict_extra(pkg, 'graphic-preview-file', None) %}
  {% if graphic_preview_file and graphic_preview_file.lower()[:4] == 'http' %}
    <section id="dataset-graphic-preview" class="resources module-content">
      <h3>Graphic Preview</h3>
      {% set graphic_preview_desc =h.get_pkg_dict_extra(pkg, 'graphic-preview-description', 'Graphic Preview') %}
      <img src="{{ h.get_pkg_dict_extra(pkg, 'graphic-preview-file') }}" alt="{{ graphic_preview_desc }}" title="{{ graphic_preview_desc }}" />
    </section>
  {% endif %}

{% endblock %}

{% block package_additional_info %}
  <section class="module-content additional-info">
    <h3>{{ _('About this Dataset') }}</h3>
    <table class="table table-striped table-bordered table-condensed" data-module="table-toggle-more">
      <tbody>
        {% set extras = c.pkg_dict.extras %}
        <tr>
          <th scope="row" class="dataset-label">Resource Type</th>
          <td>{{ h.get_pkg_dict_extra(c.pkg_dict, 'resource-type', 'Unknown')|capitalize }}</td>
        </tr>
        {% if not dataset_is_datajson %}
        <tr>
          <th scope="row" class="dataset-label">Metadata Date</th>
          <td><span property="dct:issued">{{ h.render_datetime_datagov(h.get_pkg_dict_extra(c.pkg_dict, 'metadata-date')) or h.get_pkg_dict_extra(c.pkg_dict, 'metadata-date') or 'Unknown' }}</span></td>
        </tr>
        {% endif %}
		<tr>
          <th scope="row" class="dataset-label">Metadata Created Date</th>
          <td>{{ h.render_datetime_datagov(c.pkg_dict.metadata_created) or 'Unknown' }}</td>
        </tr>
		<tr>
          <th scope="row" class="dataset-label">Metadata Updated Date</th>
          <td><span property="dct:modified">{{ h.render_datetime_datagov(c.pkg_dict.metadata_modified) or 'Unknown' }}</span></td>
        </tr>		
        {% if dataset_is_datajson %}
          {% set exclude_list = ['metadata-date', 'publisher', 'identifier', 'maintainer_email', 'maintainer', 'resource-type', 'spatial'] %}
          <tr itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
            <th scope="row" class="dataset-label">Publisher</th>
            <td><span itemprop="name" property="dct:publisher">{{ h.get_pkg_dict_extra(c.pkg_dict, 'publisher', 'Unknown') }}<span></td>
          </tr>
          <tr>
            <th scope="row" class="dataset-label">Identifier</th>
            <td><span property="dct:identifier">{{ h.get_pkg_dict_extra(c.pkg_dict, 'identifier', 'Unknown') }}</span></td>
          </tr>
          <tr>
            <th scope="row" class="dataset-label">Maintainer</th>
            <td>
              <div itemprop="provider" itemscope itemtype="http://schema.org/Person">
                <span itemprop="name" property="dcat:contactPoint">{{ pkg_dict.maintainer }}</span>
              </div>
            </td>
          </tr>
          <tr>
            <th scope="row" class="dataset-label">Maintainer Email</th>
            <td><div itemprop="provider" itemscope itemtype="http://schema.org/Person" typeof="foaf:Person">
              <span itemprop="email" property="foaf:mbox">
             {% set maintainer_email = pkg_dict.maintainer_email %}
              {% if maintainer_email %}
              {{ h.mail_to(email_address=pkg_dict.maintainer_email) }}
             {% else %}
              {{ maintainer_email }} 	
             {% endif %}
              </span></div>
            </td>
          </tr>
        {% else %}
          {% set exclude_list = ['metadata-date', 'dataset-reference-date', 'responsible-party', 'contact-email', 'resource-type', 'spatial'] %}
          <tr>
            <th scope="row" class="dataset-label">Reference Date(s)</th>
            <td>{{ h.get_reference_date(h.get_pkg_dict_extra(c.pkg_dict, 'dataset-reference-date')) or h.get_pkg_dict_extra(c.pkg_dict, 'dataset-reference-date') or 'Unknown' }}</td>
          </tr>
          <tr itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
            <th scope="row" class="dataset-label">Responsible Party</th>
            <td><span itemprop="name" property="dct:publisher">{{ h.get_responsible_party(h.get_pkg_dict_extra(c.pkg_dict, 'responsible-party')) or 'Unknown' }}</span></td>
          </tr>
          <tr>
            <th scope="row" class="dataset-label">Contact Email</th>
            <td><div typeof="foaf:Person">
              <span property="foaf:mbox">
             {% set contact_email = h.get_pkg_dict_extra(c.pkg_dict, 'contact-email', 'Unknown') %}
             {% if contact_email == 'Unknown'%}
              {{contact_email}}
             {% else %}
              {{ h.mail_to(email_address=contact_email) }}	
             {% endif %}
             </span></div>
            </td>
          </tr>
        {% endif %}

        {% if h.check_access('package_update',{'id':pkg_dict.id}) %}
          <tr class="toggle-more">
            <th scope="row" class="dataset-label">{{ _("State") }}</th>
            <td class="dataset-details">{{ pkg_dict.state|capitalize }}</td>
          </tr>
        {% endif %}
        {% set duplicate_key_check = "" %}
        {% for extra in h.sorted_extras(extras, auto_clean=true, exclude=exclude_list) %}
          {% set key, value = extra %}
           {% if key == 'Data Dictiionary' %}
            {% set key = 'Data Dictionary'%}
           {% endif %}
           {% if key in ['Access Constraints', 'Spatial', 'Licence'] %}
            {% set value = h.remove_extra_chars(value) %}
           {% endif %}
           {% if duplicate_key_check != key %}
            <tr rel="dc:relation" resource="_:extra{{ i }}" class="toggle-more">
              <th scope="row" class="dataset-label" property="rdfs:label">{{ _(key) }}</th>
                {% if key in ['Modified'] %}
                <td itemprop="dateModified" class="dataset-details" property="rdf:value">
                {% elif key in ['Theme']%}
                <td itemprop="about" class="dataset-details" property="rdf:value">
                {% else %}
                <td class="dataset-details" property="rdf:value">
                {% endif %}

                {% if value != '[]' %}
                  {{ value }}
                {% endif %}
              </td>
            </tr>
            {% set duplicate_key_check = key %}
           {% endif %}
          {% endfor %}
      </tbody>
    </table>
	<p>
       <small>
        Didn't find what you're looking for? Suggest a dataset <a href="http://www.data.gov/nominate">here</a>.
       </small>
      </p>
  </section>
{% endblock %}
