{% ckan_extends %}

{% set dataset_extent = h.get_pkg_dict_extra(c.pkg_dict, 'spatial', '') %}

{% block secondary_content %}
  {{ super() }}

  {% set dataset_extent = h.get_pkg_dict_extra(c.pkg_dict, 'spatial', '') %}
  {% if dataset_extent %}
    {% snippet "spatial/snippets/dataset_map_sidebar.html", extent=dataset_extent %}
  {% endif %}

{% endblock %}



    {% block package_resources %}
      {% snippet "package/snippets/resources_list.html", pkg=pkg, resources=pkg.resources %}

      {% set harvest_object_id = h.get_pkg_dict_extra(pkg, 'harvest_object_id', None) %}
      {% if harvest_object_id %}
        {% set ho_formats = h.get_harvest_object_formats(harvest_object_id) %}
        {% if ho_formats.object_format %}

          <section id="dataset-metadata-source" class="resources module-content">
          <h3>Source Metadata</h3>
          {{ h.get_harvest_source_link(pkg) }}
            <div>
              <span class="format-label" property="dc:format" data-format="{{ ho_formats.object_format_type}}">{{ ho_formats.object_format}}</span>
              <a href="/harvest/object/{{ harvest_object_id }}">Download Metadata</a> ({{ ho_formats.object_format}})
              {% if ho_formats.object_format == 'ISO-19139' %}
                  <span class="format-label" property="dc:format" data-format="html">HTML</span>
                  <a href="/harvest/object/{{ harvest_object_id }}/html">View Full Metadata</a>
              {% endif %}
            </div>
            {% if ho_formats.original_format %}
            <div>
              <span class="format-label" property="dc:format" data-format="{{ ho_formats.original_format_type}}">{{ ho_formats.original_format}}</span>
              <a href="/harvest/object/{{ harvest_object_id }}/original">Download Original Metadata</a> ({{ ho_formats.original_format}})

              <span class="format-label" property="dc:format" data-format="html">HTML</span>
              <a href="/harvest/object/{{ harvest_object_id }}/html/original">View Original Full Metadata</a>
            </div>

            {% endif %}
          </section>

        {% endif %}

      {% endif %}

    {% endblock %}
