{% ckan_extends %}

{% block resource_actions_inner %}
  {% set is_web_format = h.is_web_format(res) %}
  {% set is_map_format = h.is_map_format(res) %}
  {% if h.check_access('package_update', {'id':pkg.id }) %}
    <li>{% link_for _('Edit'), controller='package', action='resource_edit', id=pkg.name, resource_id=res.id, class_='btn', icon='wrench' %}</li>
  {% endif %}
  {% if res.url %}
    <li>
      <a class="btn btn-primary resource-url-analytics resource-type-{{ res.resource_type }}" href="{{ res.url }}"{% if is_web_format %} target="_blank"{% endif %}>
        {% if is_web_format %}
          <i class="icon-external-link"></i> {{ _('Visit page') }}
        {% else %}
          <i class="icon-download-alt"></i> {{ _('Download') }}
        {% endif %}
      </a>
    </li>
  {% endif %}
  {% if 'datastore' in g.plugins %}
    <li>{% snippet 'package/snippets/data_api_button.html', resource=res, datastore_root_url=c.datastore_api %}</li>
  {% endif %}
{% endblock %}

{% block data_preview %}
  {% if h.is_map_viewer_format(c.resource) %}
    <div class="actions" style="padding-right: 40px">
      <li>
        <a class="btn btn-success" href="/viewer?{{ h.get_map_viewer_params(c.resource) }}">
            <i class="icon-globe"></i> {{ _('View in Advanced Viewer') }}
        </a>
      </li>
    </div>
  {% endif %}

  {{ h.resource_preview_custom(c.resource, c.package.id) }}
{% endblock %}

{% block resource_content %}
  {% block resource_read_title %}<h1 class="page-heading">{{ h.resource_display_name(res) | truncate(50) }}</h1>{% endblock %}
  {% block five_star %} {{ h.qa_stars(c.resource.id) }} {% endblock %}
  {% block resource_read_url %}
    {% if res.url %}
      <p class="muted ellipsis">{{ _('URL:') }} <a href="{{ res.url }}">{{ res.url }}</a></p>
    {% endif %}
  {% endblock %}
  <div class="prose notes" property="rdfs:label">
    {% if res.description %}
      {{ h.render_markdown(res.description) }}
    {% endif %}
    {% if not res.description and c.package.notes %}
      <h4>{{ _('From the dataset abstract') }}</h4>
      <blockquote>{{ h.markdown_extract(c.package.get('notes')) }}</blockquote>
      <p>{% trans dataset=c.package.title, url=h.url_for(controller='package', action='read', id=c.package['name']) %}Source: <a href="{{ url }}">{{ dataset }}</a>{% endtrans %}
    {% endif %}
{% endblock %}

{% block resource_additional_information %}
  {% if res %}
  {% set format = h.convert_resource_format(res.format or res.mimetype or res.mimetype_inner) %}
    <section class="module">
      <div class="module-content">
        <h2>{{ _('About this Resource') }}</h2>
        <table class="table table-striped table-bordered table-condensed" data-module="table-toggle-more">
          <tbody>
            <tr>
              <th scope="row">{{ _('Last updated') }}</th>
              <td>{{ h.render_datetime(res.last_modified) or h.render_datetime(res.revision_timestamp) or h.render_datetime(res.created) or _('unknown') }}</td>
            </tr>
            <tr>
              <th scope="row">{{ _('Created') }}</th>
              <td>{{ h.render_datetime(res.created) or _('unknown') }}</td>
            </tr>
            {% if not res.no_real_name %}
            <tr>
              <th scope="row">{{ _('Name') }}</th>
              <td>{{ res.name or _('Web Page') }}</td>
            </tr>
            {% endif %}
            <tr>
              <th scope="row">{{ _('Format') }}</th>
              <td>{{ format }}</td>
            </tr>
            <tr>
              <th scope="row">{{ _('License') }}</th>
              <td>{% snippet "snippets/license.html", pkg_dict=pkg, text_only=True %}</td>
            </tr>
            {% for key, value in h.format_resource_items(res.items()) %}
              {% if key not in ['format', 'no real name'] %}
                {% if key == 'conformsTo' %}
                  {% set key = 'Data Standard' %}
                {% elif key == 'describedBy' %}
                  {% set key = 'Data Dictionary' %}
                {% elif key == 'describedByType' %}
                  {% set key = 'Data Dictionary Type' %}
                {% endif %}
              <tr class="toggle-more"><th scope="row">{{ key }}</th><td>{{ value }}</td></tr>
              {% endif %}
            {% endfor %}
          </tbody>
        </table>
      </div>
    </section>
  {% endif %}
{% endblock %}
