{% ckan_extends %}

{% block primary_content %}
  {% if request.params.collection_package_id %}
    <div class="module">
      {% snippet "snippets/related_collection.html", collection_package_id=request.params.collection_package_id %}
    </div>
  {% endif %}
  {{ super() }}
{% endblock %}

{#

{% block secondary_content %}

  {{ h.snippet('snippets/facet_list.html', title='Groups', name='groups') }}
  {{ h.snippet('snippets/facet_list.html', title='Tags', name='tags') }}
  {{ h.snippet('snippets/facet_list.html', title='Organization', name='responsible-party') }}
  {{ h.snippet('snippets/facet_list.html', title='Formats', name='res_format') }}

{% endblock %}

#}
